In [2]:
import pandas as pd
import numpy as np

from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [3]:
# for now:
# look at best way to aggregate results
results = pd.read_csv('../results/weekly_electricity_demand_final_20230927-100113/model_predictions.csv')

In [5]:
results = results.iloc[:, 1:]

In [7]:
results.sort_values(by = ['series', 'date'], inplace = True)

In [10]:
results.head(10)

              date series    y_pred    y_true  window                  model
0       2012-04-15     T1 -0.333640  0.241431       7                Ridge()
70299   2012-04-15     T1 -0.015076  0.241431       7       Lasso(alpha=0.1)
140598  2012-04-15     T1  0.076851  0.241431       7  KNeighborsRegressor()
321     2012-04-22     T1 -0.010344  0.289845       7                Ridge()
70620   2012-04-22     T1 -0.014762  0.289845       7       Lasso(alpha=0.1)
140919  2012-04-22     T1  0.115660  0.289845       7  KNeighborsRegressor()
642     2012-04-29     T1  0.402086 -0.053073       7                Ridge()
70941   2012-04-29     T1 -0.010893 -0.053073       7       Lasso(alpha=0.1)
141240  2012-04-29     T1 -0.104318 -0.053073       7  KNeighborsRegressor()
963     2012-05-06     T1 -0.056418 -0.030502       7                Ridge()

In [25]:
dates1 = pd.date_range(start = '2000-01-01', periods = 5).tolist()
dates2 = pd.date_range(start = '2000-01-01', periods = 6).tolist()
dates3 = pd.date_range(start = '2000-01-01', periods = 5).tolist()
y_true = np.random.normal(0, 1, size = 6).tolist()

sample_df = pd.DataFrame({
    'date': dates1 + dates2 + dates3,
    'series': ['T1']*5 + ['T1'] * 6 + ['T1']*5,
    'y_pred': np.random.normal(0, 1, size = 16),
    'y_true': y_true[:5] + y_true[:6] + y_true[:5],
    'window': [7]*5 + [14]*6 + [28]*5  
})

In [35]:
pivoted = sample_df.pivot_table(index = ['series', 'date'], columns = 'window')

In [44]:
pivoted         = sample_df.pivot_table(index = ['series', 'date'], columns = 'window')
pivoted.columns = [f'{col[0]}_{col[1]}' for col in pivoted.columns]
true_cols       = [col for col in pivoted if 'true' in col]
pivoted = pivoted.drop(true_cols[1:], axis = 1)
pivoted.rename({
    true_cols[0]: 'y_true'
}, axis = 1, inplace = True)

In [46]:
pivoted.dropna()

                   y_pred_7  y_pred_14  y_pred_28    y_true
series date
T1     2000-01-01  1.304682   0.273697  -0.947164 -1.162020
       2000-01-02 -1.013250   0.729635   1.561298 -0.781517
       2000-01-03  1.458510  -1.243492  -1.098176  0.106502
       2000-01-04  0.618664   0.214940   0.706530 -0.552237
       2000-01-05 -0.248347  -0.228392   0.056837 -0.955779

In [53]:
pivoted.index.get_level_values(-1).isin()

<bound method Index.isin of DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06'],
              dtype='datetime64[ns]', name='date', freq=None)>

In [50]:
pivoted.indexpivoted.reset_index().date.unique()

array(['2000-01-01T00:00:00.000000000', '2000-01-02T00:00:00.000000000',
       '2000-01-03T00:00:00.000000000', '2000-01-04T00:00:00.000000000',
       '2000-01-05T00:00:00.000000000', '2000-01-06T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [34]:
pivoted.columns[0]

'1'

In [30]:
columns = ['1', '2', '3', '4', '5', '6']

In [31]:
pivoted.columns = columns

In [32]:
pivoted.columns

Index(['1', '2', '3', '4', '5', '6'], dtype='object')

In [33]:
pivoted

                          1         2         3         4         5         6
series date
T1     2000-01-01  1.304682  0.273697 -0.947164 -1.162020 -1.162020 -1.162020
       2000-01-02 -1.013250  0.729635  1.561298 -0.781517 -0.781517 -0.781517
       2000-01-03  1.458510 -1.243492 -1.098176  0.106502  0.106502  0.106502
       2000-01-04  0.618664  0.214940  0.706530 -0.552237 -0.552237 -0.552237
       2000-01-05 -0.248347 -0.228392  0.056837 -0.955779 -0.955779 -0.955779
       2000-01-06       NaN -1.229370       NaN       NaN  1.197470       NaN